<div class="container d-flex flex-column">
    <div class="row" style="margin-top: 5px;border-style: solid;">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>Post #1 by username</h5>
                </div>
                <div class="col text-end">
                    <h5>Comments: x, Likes: y</h5>
                </div>
            </div>
        </div>
    </div>
    <p><span style="color: rgb(0, 0, 0);">Where does it come from?</span><br /><br /><span style="color: rgb(0, 0, 0);">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from &quot;de Finibus Bonorum et Malorum&quot; by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span></p>
    <div class="row" style="margin-top: 5px;border-style: solid;">
        <div class="col">
            <h5>Username: Comment 1</h5>
            <h5>Username: Comment 2</h5>
            <h5>Username: Comment 3</h5>
            <h5>Username: Comment 4</h5>
        </div>
    </div>
</div>